
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: #f9f9f9;
}
.heading{
  color: var(--themeColormaroon);
}
.landing{
  display: flex;
  background:linear-gradient( #000000e7 , #00000086),url("/IMG_20230408_165147_809.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  color: #ffffff;
  font-size: 2rem;
  width: 100vw;
  height: 25rem;
  justify-content: space-around;
  align-items: center;
}
.containcards{
  margin-Top: -3rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
}
.cards{
  display: flex;
    flex-direction: column;
    width: 18rem;
    height: 23rem;
    border-width: 1px;
    border-color: #b9b9b9;
    border-style: solid;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    margin: 1rem 2rem;
    padding: 5px;
    justify-content: space-evenly;
    background-color: white;
    box-shadow:2px 2px 2px grey;
}
.compOne{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0 10rem;
  margin: 5rem;
  font-size: 1.1rem ;
}
.compOne > h1, .compOnepOne > h1 {
  font-size: 3rem;
   color: #c12f2f;
}
.compOnepOne{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.compOnepTwo{
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}
.slide1{
  border-radius: 32px;
}
.ulist {
  list-style-type: none;
}

.ulist li::before {
  content: "\26AC";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.ulist > :first-child {
  background-color: #3eb6b025;
  padding: 5%;
  border-radius: 15px;
}
.ulist > li {
  padding: 5%;
}